/OneDrive/Documents/NetBeansProjects/JavaApplication1/nbproject/private/
/OneDrive/Documents/NetBeansProjects/JavaApplication1/build/
/OneDrive/Documents/NetBeansProjects/Assignment_252/nbproject/private/
/OneDrive/Documents/NetBeansProjects/University_Model/nbproject/private/
/OneDrive/Documents/NetBeansProjects/University_Model/build/
/OneDrive/Documents/NetBeansProjects/University_Model/dist/
/OneDrive/Desktop/New folder (7)/haircutter1-hair-cutter-88a5c3b68dca/TakeOutSystem-Final/nbproject/private/
/OneDrive/Desktop/New folder (7)/haircutter1-hair-cutter-88a5c3b68dca/TakeOutSystem-Final/build/
/OneDrive/Desktop/New folder (7)/haircutter1-hair-cutter-88a5c3b68dca/TakeOutSystem-Final/dist/
